<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpEndPoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59934/webapi.svc/AssetService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPoint"
                contract="ServiceReference1.IAssetService" name="BasicHttpEndPoint" />
        </client>
    </system.serviceModel>
</configuration>